<app-navbar></app-navbar>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="pkp_structure_main">
        <div class="page-register">
            <nav class="navigation">
                <ol>
                    <li><a href="">Início</a></li>
                    <span class="separador">/</span>
                    <li class="current">
                        <span arial-current="page">
                            Catálogo
                        </span>
                    </li>
                </ol>
            </nav>
            <h1 class="page h1">Cadastrar</h1>
            <form class="cmp_form" action="" method="post">
                <input type="hidden">
                <fieldset class="indetity">
                    <legend>Perfil</legend>
                    <div class="fields">
                        <div class="given_name">
                            <label>
                                <span class="label">" Nome Próprio"
                                    <span class="required" aria-hidden="true">*</span>
                                    <span class="pkp_screen_reader">Obrigatório</span>
                                </span>
                                <input type="text" name="givenName" id="" required arial-required="true">
                            </label>
                        </div>
                        <div class="family_name"></div>
                        <div class="affiliation"></div>
                        <div class="country"></div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</body>

</html>