* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    line-height: 1.43rem;
    color: rgba(0, 0, 0, 0.87);
    background-color: #fff;
}

.pkp_structure_main {
    padding: .714rem;
}

.pkp_structure_main h1 {
    margin: -1.857rem 0.5rem .43rem;
    font-size: 1.714rem;
    line-height: 2.143rem;
    font-weight: 700;
}

.pkp_structure_main .page h1 {
    margin-top: 0;
}

.navigation {
    display: inline-block;
}

.navigation ol {
    margin-bottom: 2.143rem;
    padding: 1.357rem 15px;
    line-height: 1.43rem;
    font-size: .93rem;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}

.navigation li {
    display: inline-block;
}


a {
    color: #006798;
    background-color: transparent;
}

.navigation a {
    display: inline-block;
    text-decoration: none;
}

.navigation .separador {
    color: rgba(0, 0, 0, 0.54);
    padding: 0 .5rem;
}

.navigation .current span {
    color: rgba(0, 0, 0, 0.54);
}