<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>

<body class="page_angular">
    <div class="estrutura-page">
        <header class="estrutura-header">
            <div class="site-name">
                <a routerLink="/" class="is-image"><img src="../../assets/logo.png" alt=""></a>
            </div>
            <nav class="pkp_site_nav_menu">
                <div class="pkp_navigation_primary_row">
                    <div class="pkp_navigation_primary_wrapper">
                        <ul class="pkp_navigation_primary pkp_nav_list">
                            <li class="nav-item"><a routerLink="#" class="nav-link">Catálogo</a></li>
                            <li class="nav-item"><a routerLink="#" class="nav-link">Formas de Pagamento</a></li>
                            <li class="nav-item"><a routerLink="#" class="nav-link">Submissões</a></li>
                            <li class="nav-item"><a routerLink="#" class="nav-link">Sobre a editora</a></li>
                            <li class="nav-item"><a routerLink="#" class="nav-link">Equipe editorial</a></li>
                            <li class="nav-item"><a routerLink="#" class="nav-link">Contato</a></li>
                            <li class="nav-item"><a routerLink="#" class="nav-link">Site Institucional</a></li>
                            <div class="box-busca">
                                <div class="search-box">
                                    <form method="post" action="#">
                                        <input type="text" class="search-box-input" name="busca"
                                            placeholder="Faça sua Pesquisa">
                                        <button class="search-box-button"><i class="fas fa-search"
                                                style="font-size: 20px; position: relative; bottom: -12px; left: 12px; color: white;"></i></button>

                                    </form>

                                </div><!-- Search -->

                            </div><!--Box Busca-->
                        </ul>
                        <ul class="pkp_navigation_user">
                            <li class="profile"><a routerLink="/cadastro-usuario">Cadastro</a></li>
                            <li class="profile"><a routerLink="/login">Acesso</a></li>
                        </ul>
                    </div>
                    <!-- <div class="pesquisar">
                            <form action="" method="post">
                                <label for="busca"><img src="../../assets//8442061-pesquisa-icone-glifo-simbolo-lupa-vetor.jpg"
                                        alt=""></label>
                                <input type="search" id="busca" name="q" style="height: 1.25rem;">
                                <button type="submit" style="height: 1.25rem;">OK</button>
                            </form>
                        </div> -->
                    <!--MOBILEEEEEEEEEEEEEEEEEEEEEEE-->
                    <div class="mobile-menu-icon">
                        <button (click)="menuShow()"><img src="../../assets/menu_white_36dp.svg" alt=""></button>
                    </div>
                </div>
            </nav>
            <div class="mobile-menu" #menuMobile>
                <ul>
                    <li class="nav-item"><a routerLink="/books-catalogo" class="nav-link">Catálogo</a></li>
                    <li class="nav-item"><a routerLink="/books-pagamento" class="nav-link">Formas de Pagamento</a></li>
                    <li class="nav-item"><a routerLink="/books-submissoes" class="nav-link">Submissões</a></li>
                    <li class="nav-item"><a routerLink="#" class="nav-link">Sobre a editora</a></li>
                    <li class="nav-item"><a routerLink="#" class="nav-link">Equipe editorial</a></li>
                    <li class="nav-item"><a routerLink="#" class="nav-link">Contato</a></li>
                    <li class="nav-item"><a routerLink="#" class="nav-link">Site Institucional</a></li>
                    <li class="nav-item"><a href="" class="nav-link">Cadastro</a></li>
                    <li class="nav-item"><a href="" class="nav-link">Acesso</a></li>
                    <div class="search-box">
                        <form method="post" action="#">
                            <input type="text" class="search-box-input" name="busca" placeholder="Faça sua Pesquisa">
                            <button class="search-box-button"><i class="fas fa-search"
                                    style="font-size: 20px; position: relative; bottom: -12px; left: 12px; color: white;"></i></button>

                        </form>

                    </div><!-- Search -->
                </ul>
            </div>
        </header>
    </div>
</body>

</html>