* {
    padding: 0;
    margin: 0;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    line-height: 1.43rem;
    color: rgba(0, 0, 0, 0.87);
    background: #fff;
}

header {
    display: block;
}

.estrutura-page .site-name img {
    display: inline-block;
    margin: .357rem;
    margin-bottom: .357rem;
    padding: 0;
}

.estrutura-head {}

header {
    background-color: #2969bd;
    /* box-shadow: 0px 3px 10px #1c4883; */
}

.site-name img {
    max-height: 3rem;
}

.nav-bar {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 0.5rem;
}

.logo {
    display: flex;
    align-items: center;
}

.logo h1 {
    color: #FFF;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    text-decoration: none;
    font-size: 1rem;
    color: #FFF;
    font-weight: 400;
    transition: transform 0.5s ease, background-color 0.5s ease;
}

.nav-link:hover {
    transform: scale(1.1);
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.pesquisar img {
    border: none;
    background-color: #0187a7;
    max-height: 1.5rem;
    margin-bottom: 1px;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

@media screen and (max-width: 730px) {

    /* .nav-bar {
        display: flex;
        width: 100%;
        position: absolute;
        justify-content: space-between;
        /* gap: 2rem; */
    /* top: 0; */
    /* margin: 0 auto; */
    /* padding-left: 22.714rem; */
    /* padding-right: 3.914rem; */



    .nav-item {
        display: none;
    }

    .login-button {
        display: none;
    }

    .mobile-menu-icon {
        display: flex;
        position: relative;
    }

    .mobile-menu-icon img {
        /* display: inline-block; */
        /* margin: .357rem; */
        /* margin-left: 22rem; */
        /* padding: 0; */
        position: absolute;
        top: -53px;
        right: 5px;
        width: 36px;
        height: 36px;
    }

    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }

    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }

    pesquisar {
        display: block;
    }

    .open {
        display: block;
    }
}

/* DESKTOP

/* Estilos específicos para desktop */
@media (min-width: 992px) {

    html,
    body {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.87);
        background: #fff;
    }

    .site-name {
        width: auto;
    }

    .site-name {
        position: relative;
        left: auto;
        right: auto;
        padding: 0;
        white-space: normal;
        font-size: 2rem;
        background: transparent;
        overflow: visible;
    }

    .site-name {
        margin-top: 0;
        margin-bottom: 0;
        text-align: left;
        text-overflow: ellipsis;
        color: rgba(0, 0, 0, 0.87);
    }

    .site-name .is-image img {
        max-height: 80px;
    }

    .site-name .is-image .pkp_navigation_primary_wrapper {
        width: auto;
    }

    .estrutura-header {}

    .site-name .is-image {
        display: inline-block;
        margin-top: .357rem;
        margin-bottom: .357rem;
        padding: 0;
    }

    .site-name .is-image img {
        max-height: 60px;
        display: block;
        max-width: 100%;
        width: auto;
        height: auto;
    }

    .pkp_site_nav_menu {
        display: block;
        position: static;
        padding: 0;
        width: 100%;
    }

    .pkp_navigation_primary_wrapper {
        position: relative;
        width: auto;
        padding-left: 0;
        padding-right: 0;
    }

    .pkp_site_nav_menu .pkp_nav_list {
        display: flex;
        padding: 0px 101px;
        gap: 20px;
        /* justify-content: baseline; */
        /* padding-left: 0; */
        /* margin-left: 0; */
    }

    .pkp_site_nav_menu ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .pkp_nav_list li {
        position: relative;
        display: inline-block;
    }

    .pkp_navigation_primary>li:first-child a {
        margin-left: -0.5rem;
    }

    .pkp_navigation_primary>li>a {
        margin: .357rem .5em 0;
        /* padding: .357rem .5em calc(.714rem - 2px); */
        /* border-bottom: 2px solid transparent; */
        /* color: rgba(0, 0, 0, 0.84); */
        /* text-decoration: none; */
    }

    .nav-bar {
        /* position: static;
        padding: 0;
        width: 100%; */
    }

    .nav-list {
        display: flex;
        /* Mostra a nav-list no desktop */
        align-items: center;
    }

    /* .nav-list ul {
        display: flex;
        justify-content: center;
        list-style: none;
    } */

    .nav-item {
        display: block;
        margin: 0 15px;
    }

    .mobile-menu-icon {
        display: none;
        position: relative;
        /* Esconde o ícone do menu mobile no desktop */
    }

    .mobile-menu {
        display: none;
        /* Esconde o menu mobile no desktop */
    }

    .logo {
        display: flex;
        align-items: center;
    }

    .logo h1 {
        color: #FFF;
    }
}