<app-navbar></app-navbar>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap">
</head>

<body>

    <div class="content">
        <div class="main">
            <div class="page">
                <nav class="navigation">
                    <ol>
                        <li><a href="">Início</a></li>
                        <span class="separador">/</span>
                        <li class="current">
                            <span arial-current="page">
                                Formas de pagamento
                            </span>
                        </li>
                    </ol>
                </nav>
                <h1>Submissões</h1>
                <div class="cmp_notification">
                    Esta editora não está aceitando submissões no momento
                </div>

                <div class="submission_checklist">
                    <h2>Verificação da submissão</h2>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla odit deserunt sit aliquid? Ad tenetur
                    exercitationem aut vero dolor, inventore quo dolore omnis expedita repudiandae, dolores temporibus
                    ea perspiciatis earum.

                    <ul>
                        <li>
                            <span class="fa-fa-check" aria-hidden="true">
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem beatae
                                consequuntur non dolores? Corporis quidem velit, natus debitis laborum sunt quas
                                repellendus voluptate soluta sit, rerum tempore architecto distinctio eveniet.
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>

</html>