<app-navbar></app-navbar>
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário de Cadastro</title>
</head>

<div class="page-register">
    <nav class="navigation">
        <ol>
            <li><a href="">Início</a></li>
            <span class="separador">/</span>
            <li class="current">
                <span arial-current="page">
                    Login
                </span>
            </li>
        </ol>
    </nav>
    <!-- <h1 class="page h1">Cadastrar</h1> -->
</div>
<!-- <app-navigation-location></app-navigation-location> -->

<body>
    <div class="pkp_structure_main">
        <div class="container">
            <div class="form-image">
                <img src="../../assets/logo.png" alt="">
            </div>
            <div class="form">
                <form action="#">
                    <div class="form-header">
                        <div class="title">
                            <h1>Login</h1>
                        </div>
                        <div class="login-button">
                            <button><a href="#">Entrar</a></button>
                        </div>
                    </div>
                    <div class="input-group">
                        <div class="input-box">
                            <label for="email">E-mail</label>
                            <input id="email" type="email" name="firstname" placeholder="Digite seu email" required>
                        </div>
                        <div class="input-box">
                            <label for="password">Senha</label>
                            <input id="password" type="password" name="password" placeholder="Digite sua senha"
                                required>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>