<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<header>
    <div class="sidebar">
        <h2>Navegar</h2>
        <ul>
            <li><a href="#">Lançamentos</a></li>
            <li><a href="#">Navegar a categoria</a></li>
            <li><a href="#">E-BOOKS</a></li>
            <li><a href="#">Antropologia</a></li>
            <li><a href="#">Arquitetura e Urbanismo</a></li>
</ul>
</div>
</header>

<body>

</body>

</html> -->