<app-navbar></app-navbar>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="content">
        <div class="main">
            <nav class="navigation">
                <ol>
                    <li><a href="">Início</a></li>
                    <span class="separador">/</span>
                    <li class="current">
                        <span arial-current="page">
                            Formas de pagamento
                        </span>
                    </li>
                </ol>
            </nav>
            <h2 class="title">Formas de Pagamento</h2>
            <p>Ao comprar um livro impresso da Editora UFPE, o cliente pode escolher entre estas três modalidades de
                pagamento</p>
            <p class="pix"><strong>PIX</strong>
                Ao se optar por essa forma, pagável em qualquer instituição bancária, serão gerados um QR Code e um
                Código com validade de 24h. Ao receber nosso e-mail, escolha um deles, abra o aplicativo do seu banco,
                aponte a câmera do celular para o QR Code ou copie o código para finalizar o pagamento.</p>
            <p class="cartao-credito">
                <strong>
                    Cartão de crédito
                </strong>
                Utilizando-se essa via, uma tarifa de 2,99% será acrescida ao valor final da compra. Você receberá um
                link, onde deverão ser inseridos os dados do cartão escolhido para concluir o pagamento.
            </p>

            <div class="info">
                <strong>
                    Mais informações
                </strong>
                <p class="tel">
                    Telefone: (81) 2126.8930
                </p>
                <p class="email">
                    E-mail: livraria.editora@ufpe.br
                </p>
            </div>
        </div>
        <app-sidebar></app-sidebar>
    </div>
</body>

</html>