<app-navbar></app-navbar>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="content">
        <div class="main">
            <nav class="navigation">
                <ol>
                    <li><a href="">Início</a></li>
                    <span class="separador">/</span>
                    <li class="current">
                        <span arial-current="page">
                            Formas de pagamento
                        </span>
                    </li>
                </ol>
            </nav>
            <h2 class="title">Formas de Pagamento</h2>
        </div>
    </div>
</body>

</html>