<app-navbar></app-navbar>
<div class="content">
    <h1 class="title-mobile">
        Física da Natureza
    </h1>
    <div class="items-descricao">
        <div class="label">Marcos Costa Lima</div>
        <div class="label">Elsa Sousa Kraychete</div>
        <div class="label">Renam Holanda Montenegro</div>

        <div class="item">
            <h2 class="label">Palavras chaves: </h2>

            <span class="value">África, China, Relações econômicas, Relações econômicas exteriores, Relações
                exteriores</span>
        </div>

        <div class="item-abstract">
            <h2 class="value">Sinopse</h2>
            <p>O objetivo deste volume é apresentar ao público brasileiro – e lusófono como um todo, além de
                internacionalistas interessados(as) nas lides pós-coloniais – uma visão geral, porém minimamente
                nuançada, das relações entre a China e o continente africano. Haja vista a pletora de possibilidades
                analíticas, a pretensão não poderia ser a de esgotar a temática: trata-se de um escopo tanto complexo
                quanto amplo, envolvendo, de um lado, mais de 50 Estados nacionais soberanos e, do outro, a principal
                potência emergente da contemporaneidade. O intuito é mais modesto: tornar acessível, especialmente para
                discentes de graduação, pós-graduação e pesquisadores(as) em contato inicial com o assunto, uma amostra
                relevante de algumas questões que vêm sendo discutidas a respeito do eixo sino-africano. Os textos
                apresentam tanto estudos de caso voltados à análise de países específicos, como Moçambique e Sudão do
                Sul, quanto olhares dedicados ao quadro geral desse relacionamento, abordando, por exemplo, a inserção
                econômica chinesa no continente africano; a cooperação África-China-França sob a Nova Rota da Seda; e a
                dimensão cultural das relações sino-africanas através do </p>
        </div>

        <div class="livro">
            <img src="https://editora.ufpe.br/public/presses/2/submission_891_894_coverImage_pt_BR_t.png" alt="">
        </div>

    </div>
</div>
<!-- Adicione mais detalhes conforme necessário -->