* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    line-height: 1.43rem;
    color: rgba(0, 0, 0, 0.87);
}

.title-mobile {
    margin-left: .857rem;
    /* margin-bottom: 1.43rem; */
    font-size: 1.714rem;
    line-height: 5.143rem;
    font-weight: 700;
    /* font-family: serif; */
}

.items-descricao {
    padding: 30px 30px;
}

.content .label {
    margin-bottom: 1.530rem;
    font-weight: 700;
    /* font-family: "Noto Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", sans-serif; */
    font-size: .990rem;
}

.item {
    padding: 30px 0;
}

.value {
    font-size: .945rem;
}

.item-abstract .value {
    margin: 0 0 1.43rem;
    font-weight: 700;
    /* font-family: "Noto Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", sans-serif; */
    font-size: .990rem;
}

.item-abstract p {
    margin-bottom: 0;
    line-height: 1.785rem;
    margin: 1.43rem 0;
}

.item-details {
    margin-left: -1.43rem;
    margin-right: -1.43rem;
}

.livro {
    border-top: 1px solid #ddd;
    padding: 1.43rem .714rem;
    border-bottom: 1px solid #ddd;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    width: auto;
    height: auto;
}

.item-files {
    padding: 1.43rem .714rem;
    border-bottom: 1px solid #ddd;
}

.cmp_download_link {
    display: inline-block;
    padding: 0 1.0715rem;
    background: #eee;
    border: 1px solid #aaa;
    border-top-color: #bbb;
    border-radius: 3px;
    box-shadow: inset 0 -1em 1em rgba(0, 0, 0, 0.1);
    font-size: .93rem;
    line-height: calc(2.143rem - 2px);
    font-weight: 700;
    color: #006798;
    text-decoration: none;
    text-shadow: 0px 1px #fff;
    width: 100%;
    text-align: center;
    font-size: .742rem;
}

.item-date {
    padding: 1.43rem .714rem;
    border-bottom: 1px solid #ddd;
}

.item-date .label {
    margin: 0;
    font-size: .93rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.54);
}

.item-date span {
    line-height: 2rem;
    font-size: .83rem;
    font-weight: 400;
}


.item-categories {
    padding: 1.43rem .174rem;
    border-bottom: 1px solid #ddd;
}

.item-categories .categoria-h2 {
    margin: 10px;
    font-size: .93rem;
    font-weight: 10;
    color: rgba(0, 0, 0, 0.54);
}

.item-categories a {
    margin: 10px;
    font-size: .93rem;
    list-style: none;
    line-height: 1.5rem;
}

.item-copyright {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: .93rem;
    padding: 1.43rem .714rem;
    border-bottom: 1px solid #ddd;
}